<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="put.sailhero"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC5bxeX8oAkoKdjBKyFXB_1nfptL6SKQfY" />

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.RegisterUserActivity"
            android:label="@string/title_activity_register_user" >
        </activity>
        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name=".ui.YachtActivity"
            android:label="@string/title_activity_yacht"
            android:parentActivityName=".ui.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="put.sailhero.android.app.TestMapActivity" />

            <intent-filter>
                <action android:name="android.sailhero.YACHT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AlertActivity"
            android:label="@string/title_activity_alert" >
        </activity>
        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".ui.PortActivity"
            android:label="@string/title_activity_port"
            android:parentActivityName=".ui.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="put.sailhero.android.app.TestMapActivity" />
        </activity>

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="put.sailhero.android" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".account.AuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".provider.SailHeroContentProvider"
            android:authorities="put.sailhero"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name=".ui.PeopleActivity"
            android:label="@string/title_activity_people" >
        </activity>

        <service
            android:name=".service.AlertService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="put.sailhero.ui.SearchUserActivity"
            android:label="@string/title_activity_search_user"
            android:parentActivityName=".ui.PeopleActivity"
            android:theme="@style/Theme.SailHero.Search" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="put.sailhero.ui.PeopleActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_user" />
        </activity>
    </application>

</manifest>